* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Roboto Condensed', arial;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.bt {
    padding: 10px;
}

.button-last-days {
    font-size: 1.2rem;
}

.button-add {
    border-radius: 50%;
}
.button-add img {
    width: 30px;
}



.main-content section{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}
section .bt {
    display:flex;
    align-items: center;
    gap: 20px;

    border: 2px solid darkgreen;
    border-radius: 8px;
}
section button img {
    width: 20px;
}

.tasks{
    padding: 15px 25px;

    display:flex;
    flex-direction: column;

    gap: 0px;
}

.tasks .task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #000;

    width: 100%;

    padding: 10px 20px;

    font-size: 1.5rem;
}

.check-task{
    appearance: none;
    -webkit-appearance: none;

    width: 25px;
    height: 25px;

    border: 1px solid #444444;

    transition: all 1s linear;

    cursor:pointer;
}


#checked {
    text-decoration: line-through;
}







.check-task:checked{
    background-color: #00ff33;
    border-radius: 50%;
}

section .bt-trash {
    border: none;


    display:flex;
    justify-content: center;
    align-items: center;
}

section .bt-trash img {
    width: 30px;

    cursor: pointer;
    background-color: lightcoral;

    border-radius: 5px;

    padding: 5px;

    transition: .5s all ease;
}

section .bt-trash img:hover {
    background-color: #ff0000;
}




/* Modal de adicionar tarefa nova: */

.central {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top:0;

    background-color: #000000aa;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal {
    background-color: #cccccc;

    padding: 20px 30px;

    height: 200px;
    width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid #000;

    font-size: 1.3rem;
}

.add-task-modal label input {
    width: calc(100% - 5px);
    
    font-size: 1.5rem;
    padding: 5px;

    outline: 0;

    margin-top: 10px;
}

.add-task-modal .buttons, .delete-task-modal .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.buttons button {
    padding: 5px 15px;
    font-size: 1.3rem;
}


.delete-task-modal {
    padding: 20px 30px;

    height: 200px;
    width: 450px;

    background-color: #cccccc;
    border: 1px solid #000;
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.delete-text{
    font-size: 1.5rem;
}


#none {
    display: none;
}





.last-days {
    width: 100vw;
    height: 100vh;

    background-color: #00000055;
    position: fixed;
    top:0;

    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.last-days .days {
    width: 60%;
    height: 90%;

    background-color: #0000ff;

    display:flex;

    flex-wrap: wrap;

    gap: 2%;
    padding: 10px 0 10px 1%;

    overflow-y: scroll;
}





.day {
    width: 23%;

    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border:2px solid #000000;
    border-radius: 5px;
}

.day-options {
    width: 100%;

    display:flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.date-of-tasks {
    font-size: 1.5rem;
    
    margin-bottom: 1.7rem;
}

.day-options button {
    width: 50%;

    padding: 5px 10px;

    font-weight: bold;
}





.visualize-task-selected-area{
    width: 100vw;
    height: 100vh;

    background-color: #00000055;

    position: fixed;
    top:0;

    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.task-selected-to-view {
    background-color: #ffffff;

    height: 90%;
    width: 40%;

    padding: 10px 5px;
}

.date-of-task-selected {
    text-align: center;

    font-size: 2rem;

    margin-bottom: 2rem;
}

.task-of-day-view {
    display: flex;

    padding: 5px 25px;
}

.task-of-day-view-text {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
}