* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.bt {
    padding: 10px;
}

.button-last-days {
    font-size: 1.2rem;
}

.button-add {
    border-radius: 50%;
}
.button-add img {
    width: 30px;
}



.main-content section{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}
section .bt {
    display:flex;
    align-items: center;
    gap: 20px;

    border: 2px solid darkgreen;
    border-radius: 8px;
}
section button img {
    width: 20px;
}

.tasks{
    padding: 15px 25px;

    display:flex;
    flex-direction: column;

    gap: 0px;
}

.tasks .task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #000;

    width: 100%;

    padding: 10px 20px;

    font-size: 1.5rem;
}

section .bt-trash {
    border: none;
    border-radius: 5px;

    background-color: lightcoral;
    
    padding: 2.5px;

    cursor: pointer;

    transition: .5s all ease;
}

section .bt-trash:hover {
    background-color: #ff0000;
}





/* Modal de adicionar tarefa nova: */

.central {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal {
    background-color: #cccccc;

    padding: 20px 30px;

    height: 200px;
    width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.3rem;
}

.add-task-modal label input {
    width: calc(100% - 5px);
    
    font-size: 1.5rem;
    padding: 5px;

    outline: 0;

    margin-top: 10px;
}

.add-task-modal .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.buttons button {
    padding: 5px 15px;
    font-size: 1.3rem;
}
